* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    #eef2ff, /* indigo-50 */
    #ffffff, /* white */
    #e0e7ff  /* indigo-100 */
  );
}

.main-section {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}